.titleText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.centeredGame > *, .centeredGameEnd > * {
    margin: 0 auto;
    display: table;
    padding: 10px;
}

.centeredGame {
    position: absolute;
    top: 5%;
}

.centeredGameEnd {
    position: absolute;
    top: 35%;
}

.theWord {
    color: darkred;
    font-weight: bolder;
    padding-bottom: 30px;
    font-size: 10vw;
    position: relative;
}

@media (min-width: 750px) {
    .theWord {
        font-size: 50px;
    }
}

.beginButton {
    margin-top: 25px !important;
}

.correctButton {
    min-width: 150px;
    margin-bottom: 50px !important;
}

.passButton {
    min-width: 150px;
    margin-bottom: 25px !important;
}
