.titleText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding-left: 50px;
    padding-right: 50px;
}

.centered > * {
    margin: 0 auto;
    display: table;
    padding: 10px;
}

.theWord {
    color: darkred;
    font-weight: bolder;
    padding-bottom: 30px;
    font-size: 15vw;
}

.beginButton {
    margin-top: 25px !important;
}

.correctButton {
    min-width: 150px;
    margin-bottom: 50px !important;
}

.passButton {
    min-width: 150px;
    margin-bottom: 25px !important;
}
