.team-text, .round-text, .score-text {
    text-align: center;
}

.begin-button {
    margin-top: 15px;
}

.h-v-centered {
    top: 45%;
}

.image-button {
    background: transparent;
    transform: scale(2.0);
    border: 0;
    width: 38px;
    height: 38px;
    justify-self: center;
    grid-row-start: 1;
}

.correct-button {
    grid-column-start: 1;
}

.pass-button {
    grid-column-start: 2;
}

.root .button-grid-game {
    grid-template-columns: 50px 50px;
    grid-column: 2;
    grid-row: 1;
    grid-column-gap: 25px;
}

.the-word {
    text-align: center;
}

.time-left-container {
    margin-top: 15px;
    justify-self: center;
    text-align: center;
}