p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
}

@import url("https://fonts.googleapis.com/css?family=Cinzel:700");

.title {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Cinzel", serif;
}
