.welcomeText {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}

h1.welcomeText {
    font-size: 4.0vmax;
}

@media screen and (max-width: 600px) {
    h1.welcomeText {
        font-size: 6.0vmax;
    }
    .getStartedText {
        font-size: 3.0vmax;
    }
}

.centeredImages {
    display: table;
    margin: 0 auto;
}

.getStartedText {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px !important;
    font-size: 1.5vmax;
    text-align: center;
}

.beginButton {
    margin: 0 auto;
    min-width: 225px;
}

.beginButton > button {
    min-width: 250px;
}

.chooseLanguage {
    display: table;
    margin: 0 auto;
}

.centered {
    position: absolute;
    top: 15%;
}

.spacing {
    padding: 10px;
}

.border-black {
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 25px;
    cursor: pointer;
}

.selected {
    border: 3px solid darkred;
    border-radius: 50%;
    margin-right: 25px;
    cursor: pointer;
}