.welcomeText {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bolder;
}

.centeredImages {
    display: table;
    margin: 0 auto;
}

.getStartedText {
    padding-left: 50px;
    padding-right: 50px;
}

.beginButton {
    margin: 0 auto;
    min-width: 225px;
}

.beginButton > button {
    min-width: 250px;
}

.chooseLanguage {
    display: table;
    margin: 0 auto;
}

.centered {
    position: absolute;
    top: 15%;
}

.spacing {
    padding: 10px;
}

.border-black {
    border: 3px solid black;
    border-radius: 50%;
    margin-right: 25px;
    cursor: pointer;
}

.selected {
    border: 3px solid darkred;
    border-radius: 50%;
    margin-right: 25px;
    cursor: pointer;
}